rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas para la colección universal de descubrimientos
    match /discoveries/{discoveryId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update: if request.auth != null && (resource.data.ownerId == request.auth.uid || request.resource.data.diff(resource.data).affectedKeys().hasOnly(['views']));
      allow delete: if request.auth != null && request.auth.uid == resource.data.ownerId;
    }

    // Reglas para perfiles de usuario
    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
